<%= bootstrap_form_for @post, html: { multipart: true } do |f| %>
    <% if @post.errors.any? %>
        <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    <%= f.file_field :image %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>