<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Bloggergram!</h1>
    <p class="lead">Create posts and comment on other posts! The future of social media!</p>
  </div>
</div>
<div class="album p-3 bg-light">
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <%= image_tag post.image.url(:medium), class: "card-img-top" %>
                <div class="card-body">
                  <strong><%= link_to post.title, post %></strong>
                  <p class="card-text"><%= post.description %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "View", post_path(post), class: "btn btn-sm btn-outline-secondary" %>
                      <%= link_to "Edit", edit_post_path(post), class: "btn btn-sm btn-outline-secondary" %>
                    </div>
                    <small class="text-muted"><%= post.created_at.strftime("%d %b. %Y at %H:%M") %></small>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    </div>
</div>