<div class="card py-3">
  <%= image_tag @post.image.url, class: "card-img-top" %>
  <div class="card-block p-2">
    <h4 class="card-title"><%= @post.title %></h4>
    <p class="card-text"><%= @post.description %></p>
  </div>
  <div class="card-block p-2">
     <%= link_to "Edit", edit_post_path(@post), class: "card-link" %>
     <%= link_to "Delete", post_path(@post.id), method: :delete, class: "card-link" %>
  </div>
  <ul class="list-group list-group-flush">
    <% @post.comments.each do |comment| %>
        <li class="list-group-item"><%= comment.comment %></li>
    <% end %>
  </ul>
  <div class="card-block p-2">
     <%= render 'comments/form' %>
  </div>
</div>