<section>
    <h1><%= @post.title %></h1>
    <p><%= @post.description %></p>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post.id), method: :delete %>
</section>

<section class="comments">
    <%= render @post.comments %>
    <%= render 'comments/form' %>
</section>