<div class="container">
  <div class="card">
    <%= image_tag @post.image.url, class: "card-img-top" %>
    <div class="card-block p-2">
      <h4 class="card-title"><%= @post.title %></h4><p>by: <%= @post.user.username %></p>
      <p class="card-text"><%= @post.description %></p>
    </div>
    <div class="btn-group pl-2 pb-2">
      <% if @post.user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-outline-secondary" %>
        <%= link_to "Delete", post_path(@post.id), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
      <% end %>
    </div>
    <div>
      <p>Paginate and truncate comments</p>
      <% @post.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>  
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="2" id="comment"></textarea>
      </div>
      <%= link_to "New Comment", new_post_comment_path(@post, @comment) %>
      <%= link_to "View All Comments", post_comments_path(@post) %>
    </div>
  </div>
</div>